---
import Layout from '../layouts/Layout.astro'
import GameCard from '../components/GameCard.astro'
import MemberCard from '../components/MemberCard.astro'
import CardGrid from '../components/CardGrid.astro'
---

<Layout title="LibreWarriors" backgroundImg="/img/north-pad-storm-point.jpg">
    <main>
        <section class="centerBox" style="margin-top: 128px;">
            <img class="circleLogo" src="/logo.png" alt="LibreWarriors Logo" />
            <h1>LibreWarriors</h1>
            <h2>[LBRW]</h2>
        </section>
        <section>
            <h2>Games</h2>
            <p>The games we play on a regular basis</p>
            <CardGrid>
                <GameCard
                    title="Apex Legends"
                    description="Regular all day shooting"
                    links={[
                        {
                            label: 'Steam',
                            url: 'https://store.steampowered.com/app/1172470/apex_legends',
                        },
                    ]}
                    image="/cards/apexlegends.jpg"
                />
                <GameCard
                    title="Valheim"
                    links={[
                        {
                            label: 'Steam',
                            url: 'https://store.steampowered.com/app/892970/Valheim',
                        },
                    ]}
                    description="Occasional base building"
                    image="/cards/valheim.jpg"
                />
            </CardGrid>
        </section>
        <section>
            <h2>Apps</h2>
            <p>Apps we like and use</p>
            <CardGrid>
                <GameCard
                    title="Element"
                    description="Private, decentralized and federated chat"
                    links={[
                        {
                            label: 'Website',
                            url: 'https://element.io',
                        },
                    ]}
                    image="/cards/matrix.svg"
                    icon="/icons/element.svg"
                />
                <GameCard
                    title="Jitsi Meet"
                    description="In browser VoIP"
                    links={[
                        {
                            label: 'Website',
                            url: 'https://meet.jit.si',
                        },
                    ]}
                />
                <GameCard
                    title="Heroic Games Launcher"
                    description=""
                    links={[
                        {
                            label: 'Website',
                            url: 'https://heroicgameslauncher.com/',
                        },
                        {
                            label: 'Flathub',
                            url: 'https://flathub.org/apps/com.heroicgameslauncher.hgl',
                        },
                    ]}
                />
                <GameCard
                    title="Bottles"
                    description=""
                    links={[
                        {
                            label: 'Website',
                            url: 'https://usebottles.com',
                        },
                    ]}
                />
            </CardGrid>
        </section>
        <section>
            <h2>Websites</h2>
            <p>Useful or just plain cool websites</p>
            <CardGrid>
                <GameCard
                    title="Flathub"
                    description=""
                    links={[
                        {
                            label: 'Website',
                            url: 'https://flathub.org',
                        },
                    ]}
                />
                <GameCard
                    title="ProtonDB"
                    description="Steam games compatibility with Proton"
                    links={[
                        {
                            label: 'Website',
                            url: 'https://protondb.com',
                        },
                    ]}
                />
                <GameCard
                    title="Are We Anti-Cheat Yet?"
                    description="A crowd-sourced list of games using anti-cheats and their compatibility with GNU/Linux or Wine/Proton"
                    links={[
                        {
                            label: 'Website',
                            url: 'https://areweanticheatyet.com/',
                        },
                    ]}
                />
                <GameCard
                    title="Gaming on Linux"
                    description="Linux Gaming, SteamOS and Steam Deck gaming. Covering Linux Gaming News, Linux Games, SteamOS, Indie Game Reviews, Steam Play Proton and more"
                    links={[
                        {
                            label: 'Website',
                            url: 'https://gamingonlinux.com',
                        },
                    ]}
                />
            </CardGrid>
        </section>
        <section>
            <h2>Distros</h2>
            <p>Best distros for gaming and every day use</p>
            <CardGrid>
                <GameCard
                    title="Fedora"
                    description="Go-to mainstream distro; good defaults, up to date and easy to use"
                    links={[
                        {
                            label: 'Website',
                            url: 'https://fedoraproject.org/',
                        },
                    ]}
                />
                <GameCard
                    title="Nobara"
                    description="Fedora based distros with tweaks, improvements and better defaults for general desktop and gaming use"
                    links={[
                        {
                            label: 'Website',
                            url: 'https://nobaraproject.org/',
                        },
                    ]}
                />
                <GameCard
                    title="Arch"
                    description="Build your distro exactly the way you want it; only for experienced users"
                    links={[
                        {
                            label: 'Website',
                            url: 'https://archlinux.org/',
                        },
                    ]}
                />
            </CardGrid>
        </section>
        <section>
            <h2>Members</h2>
            <p>Meet the team</p>
            <CardGrid>
                <MemberCard
                    name="GabMus"
                    avatar="/icons/gabmus.svg"
                    links={[
                        {
                            label: 'Website',
                            url: 'https://gabmus.org',
                            icon: '/icons/globe.svg',
                        },
                        {
                            label: 'GitLab',
                            url: 'https://gitlab.com/gabmus',
                            icon: '/icons/gitlab.svg',
                        },
                        {
                            label: 'Mastodon',
                            url: 'https://fosstodon.org/@gabmus',
                            icon: '/icons/mastodon.svg',
                        },
                        {
                            label: 'Steam',
                            url: 'https://steamcommunity.com/id/gabmus/',
                            icon: '/icons/steam.svg',
                        },
                    ]}
                />
                <MemberCard
                    name="Marcocracco"
                    avatar="/octane.png"
                    links={[
                        {
                            label: 'GitLab',
                            url: 'https://gitlab.com/MuscoMarco',
                            icon: '/icons/gitlab.svg',
                        },
                        {
                            label: 'Steam',
                            url: 'https://steamcommunity.com/profiles/76561198147906939/',
                            icon: '/icons/steam.svg',
                        },
                    ]}
                />
                <MemberCard
                    name="Magbano"
                    avatar="/icons/magellano.jpg"
                    links={[
                        {
                            label: 'GitLab',
                            url: 'https://gitlab.com/davide.musco98',
                            icon: '/icons/gitlab.svg',
                        },
                        {
                            label: 'Steam',
                            url: 'https://steamcommunity.com/id/magellano/',
                            icon: '/icons/steam.svg',
                        },
                    ]}
                />
            </CardGrid>
        </section>
    </main>
</Layout>

<style lang="scss">
    @use '../styles/vars.scss' as *;
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 1200px;
    }
    .centerBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1,
        h2 {
            text-shadow: var(--shadow);
        }
    }
    .circleLogo {
        border-radius: 100%;
        max-width: 256px;
        margin: 24px;
        box-shadow: var(--shadow);
    }
    h1 {
        font-size: 3rem;
        margin: 0;
    }
</style>
