<div class="cardGrid">
    <slot />
</div>

<style lang="scss">
    .cardGrid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 12px;
        padding: 0;
    }
</style>
