---
import type { Link } from '../types/link'
import BaseCard from './BaseCard.astro'

export interface Props {
    title: string
    icon?: string
    description?: string
    links?: Link[]
    image?: string
}

const { title, icon, description, links = [], image } = Astro.props
---

<div class="gamecard">
    <BaseCard background={image}>
        <div class="titleBox">
            {icon && <img class="icon" src={icon} />}
            <h4 class="title">{title}</h4>
        </div>
        <p class="desc">{description}</p>
        <div class="btnBox">
            {
                links.map((link) => (
                    <>
                        <a target="_blank" href={link.url} class="btn">
                            {link.label}
                        </a>
                    </>
                ))
            }
        </div>
    </BaseCard>
</div>

<style lang="scss">
    .gamecard {
        width: 320px;
        min-height: 200px;
        .titleBox {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            gap: 6px;
            h4 {
                margin: 0;
                font-size: 1.3em;
            }
            .icon {
                width: 24px;
                height: 24px;
            }
        }
        .desc {
            flex-grow: 1;
            text-align: justify;
            font-size: 0.95em;
        }
        .btnBox {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 6px;
            .btn {
                color: var(--foreground);
                text-decoration: none;
                background-color: var(--accent);
                border-radius: var(--btnRadius);
                box-shadow: var(--shadow);
                padding: 6px 12px;
                cursor: pointer;
                transition: background-color 0.15s ease-in-out;
                &:hover,
                &:active {
                    background-color: var(--accentDarker);
                }
            }
        }
    }
</style>
