---
import type { Link } from '../types/link'
import BaseCard from './BaseCard.astro'

export interface Props {
    name: string
    avatar: string
    description?: string
    links?: Link[]
}

const { name, avatar, description, links = [] } = Astro.props
---

<div class="membercard">
    <BaseCard align="center">
        <img class="avatar" src={avatar} alt={`${name} Avatar`} />
        <h4>{name}</h4>
        <p class="desc">{description}</p>
        <div class="linkBox">
            {
                links.map((link) => (
                    <>
                        <a class="iconLink" target="_blank" href={link.url}>
                            <span>
                                <img src={link.icon} alt={link.label} />
                            </span>
                            <span class="tooltip">{link.label}</span>
                        </a>
                    </>
                ))
            }
        </div>
    </BaseCard>
</div>

<style lang="scss">
    .membercard {
        width: 250px;
        min-height: 380px;
        .avatar {
            border-radius: 100%;
            width: 96px;
            height: 96px;
            box-shadow: var(--shadow);
        }
        .desc {
            flex-grow: 1;
            font-size: 0.95em;
            text-align: justify;
        }
        h4 {
            text-align: center;
            font-size: 1.4em;
            margin-top: 12px;
            margin-bottom: 6px;
        }
        .linkBox {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 6px;
            .iconLink {
                position: relative;
                display: inline;
                img {
                    width: 24px;
                    height: 24px;
                }
                .tooltip {
                    visibility: hidden;
                    opacity: 0;
                    color: var(--foreground);
                    font-size: 0.8em;
                    position: absolute;
                    top: -110%;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: var(--transparentized-bg);
                    padding: 3px 6px;
                    border-radius: 3px;
                    transition-property: opacity, visibility;
                    transition-duration: 0.15s;
                    transition-timing-function: ease-in-out;
                }
                &:hover,
                &:active {
                    .tooltip {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }
</style>
