---
import FooterComp from '../components/FooterComp.astro'

export interface Props {
    title: string
    backgroundImg?: string
}

const { title, backgroundImg } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body
        style={backgroundImg
            ? `background-image: linear-gradient(
            to bottom,
            var(--transparentized-bg),
            var(--transparentized-bg)
    ), url('${backgroundImg}');`
            : 'background: var(--background)'}
    >
        <slot />
        <FooterComp />
    </body>
</html>
<style is:global lang="scss">
    @use '../styles/vars.scss' as *;
    $transparentizedBg: transparentize($background, 0.3);
    :root {
        --accent: #{$accent};
        --accentDarker: #{$accentDarker};
        --background: #{$background};
        --foreground: #{$foreground};
        --highlightBackground: #{$highlightBackground};
        --transparentized-bg: #{$transparentizedBg};
        --shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        --radius: #{$radius};
        --btnRadius: #{$btnRadius};
    }
    html,
    body {
        padding: 0;
        margin: 0;
        font-family: system-ui, sans-serif;
        color: $foreground;
    }
    body {
        min-width: 100%;
        min-height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
            DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
    a {
        color: var(--accent);
    }
</style>
